:root {
  --primary-color: rgba(219, 162, 162, 0.274);
  --background-color: rgb(255, 255, 255);
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --spacing: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;
  
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  background-color: var(--background-color);
}

/* body.dark {
  --background-color: #111827;
  --card-color: #1f2937;
  --text-color: #f9fafb;
} */

body > header {
  margin-left: 10px;
  border-radius: 8px;
  background-color: var(--primary-color);
  padding: var(--spacing);
  text-align: center;
}

header h1 {
  font-size: 2rem;
  font-weight:600;
}

aside {
  width: 250px;
  min-height: 100vh;
  border-radius: 8px;
  background-color: var(--primary-color);
  padding: var(--spacing);
}

aside ul {
  list-style: none;
  margin-top: var(--spacing);
  padding-left: 0;
}

aside li {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: var(--spacing-large);
  font-size: 18px;
  cursor: pointer;
}
main {
  display: flex;
  gap: var(--spacing-medium);
  padding: var(--spacing);
}

.check {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
}

.check:checked {
  background-color: rgb(136, 102, 102);
  border-color: rgb(136, 102, 102);
}

.check:checked::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.check:checked + header h3 {
  text-decoration: line-through;
  color: gray;
  opacity: 0.6;
  transition: 0.3s;
}

.main-section {
  width: 100%;
  margin: var(--spacing);
  padding:var(--spacing-large);
}

#tareas h2 {
  font-size: 25x;
  font-weight: 700;
}

.task-card {
  display: flex;
  align-items: center;
  gap: var(--spacing);
  border-radius: 8px;
  padding: var(--spacing-medium);
  margin-bottom: var(--spacing);
  background-color: var(--primary-color);
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.task-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.task-card header {
  display: flex;
  flex-direction: column;
}

.task-card h3 {
  font-size: 1rem;
  font-weight: 500;
}

.delete-button {
  width: 25px;
  height: 25px;
  margin-left: auto;
  background: rgb(202, 159, 168);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;

}

input[type="text"] {
  flex: 1;
  padding: 10px;
      border-radius: 8px;
      border: 1px solid #ccc;
      outline: none;
      transition: 0.3s;
}

button[type="submit"] {
  padding: 10px 15px;
      border: none;
      border-radius: 8px;
      background: rgb(202, 159, 168);
      color: rgb(0, 0, 0);
      cursor: pointer;
      transition: 0.3s;
}

@media (max-width: 768px) {
  aside {
    width: 100%;
    min-height: auto;
    margin-bottom: var(--spacing);
  }

  main {
    flex-direction: column;
    width: 100%;
    padding: var(--spacing);
    box-sizing: border-box;
  }

  .main-section{
    margin: 0;
    width: 100%;
    padding: var(--spacing);
  }
}